h1 {
  text-transform: uppercase;
  color: #3c045c;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif; }

a {
  color: #fba52a; }
  a:hover {
    color: #ffc470; }

header {
  overflow: hidden; }

header img {
  margin-left: 50%;
  transform: translateX(-50%); }

.container {
  font-family: Helvetica, sans-serif;
  width: 70%; }

footer {
  background-color: #3c045c;
  color: #fba52a; }
  footer a {
    color: #fba52a; }
    footer a:hover {
      color: #ffc470; }

.header_img {
  width: 213.3333333333px; }

img {
  width: 100%; }

.gallery_img {
  width: 600px; }

.logo_img {
  width: 100px; }

.lanes-1 {
  width: 90%;
  border-bottom: solid 3px #fba52a; }

.lanes-2 {
  width: 45%;
  border-bottom: solid 3px #7e5315; }

.lanes-3 {
  width: 30%;
  border-bottom: solid 3px #54370e; }

.lanes-4 {
  width: 22.5%;
  border-bottom: solid 3px #3f290b; }

.lanes-5 {
  width: 18%;
  border-bottom: solid 3px #322108; }

.contenedor {
  border-top: solid 3px #ffc470; }

div.gallery {
  margin: 5px;
  border-top: 3px solid #6f3c8c;
  float: left;
  width: 180px;
  color: #3c045c; }
  div.gallery:hover {
    border-top: 5px solid #fba52a; }
  div.gallery img {
    width: 100%;
    height: auto; }
  div.gallery .desc {
    padding: 15px;
    text-align: center; }

.desc-1 {
  border-bottom: solid 2px #3c045c; }

.desc-2 {
  border-bottom: solid 2px #7808b8; }

.desc-3 {
  border-bottom: solid 2px #b40cff; }

.desc-4 {
  border-bottom: solid 2px #f010ff; }

.desc-5 {
  border-bottom: solid 2px #ff14ff; }

.desc-6 {
  border-bottom: solid 2px #ff18ff; }

.desc-7 {
  border-bottom: solid 2px #ff1cff; }

.font-size-12 {
  font-size: 12px;
  line-height: 14px; }

.font-size-14 {
  font-size: 14px;
  line-height: 16px; }

.font-size-16 {
  font-size: 16px;
  line-height: 18px; }

.font-size-18 {
  font-size: 18px;
  line-height: 20px; }

.font-size-20 {
  font-size: 20px;
  line-height: 22px; }

.font-size-22 {
  font-size: 22px;
  line-height: 24px; }

.font-size-24 {
  font-size: 24px;
  line-height: 26px; }

.icon-40px {
  font-size: 40px;
  height: 40px;
  width: 40px; }

.icon-50px {
  font-size: 50px;
  height: 50px;
  width: 50px; }

.icon-80px {
  font-size: 80px;
  height: 80px;
  width: 80px; }

nav ul {
  margin: 0;
  padding: 5;
  list-style: none;
  color: #3c045c; }
  nav ul li {
    display: inline-block;
    margin-left: -2px;
    margin-right: 2em; }

.icon {
  width: 100px;
  height: 100px;
  border-radius: 50px; }

.button {
  border: 7px solid #3c045c;
  background-color: #6f3c8c; }
  .button:not([disabled]):hover {
    border: 7px solid #6f3c8c;
    background-color: #3c045c; }

.important_text {
  color: #6f3c8c;
  font-size: 20px;
  font-weight: bold;
  border-bottom: 3px dotted #fba52a; }

.box_double {
  width: 400px;
  color: #dfcbd0;
  border-top: solid #fba52a;
  text-align: center;
  padding: 5px; }

.box_half {
  width: 250px;
  color: #dfcbd0;
  border-top: solid #ffc470;
  text-align: center;
  margin: 10px;
  padding: 5px; }

.data {
  background-color: lightyellow; }

.sidebar {
  float: right;
  margin-left: 72px; }

h2 {
  font-size: 2em; }

h3 {
  font-size: 1.2em; }

h2, h3 {
  color: #fba52a;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  text-transform: uppercase; }

/*# sourceMappingURL=styles.css.map */
