//Variables
$primaryColor: #581845;
$secondaryColor: #900C3F;
$contrastColor: #FFC300;
$titleFont: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
$textFont: Helvetica, sans-serif;
$imageWidth: 1280px;
$titleColor: $secondaryColor;
$borderColor: $primaryColor;
$prueba: tenedor;

h1{
    color: $titleColor;
    font-family: $titleFont;
}
.container{
    font-family: $textFont;

}

.header_img{
    width: $imageWidth/4;
}

//Loop test
$columns: 5;
@for $i from 1 through $columns {
    .columns-#{$i} {
        width: (25% / $i);
        background-color: #581845/$i;
        color: white;
    }
}

.con#{$prueba}{
    background-color: blue;
}

//6 Variables: hecho
//6 selectores:
//4 Operaciones:
//4 Funciones:
//6 Mixins:
//4 Bucles:
//2 Includes + otras funciones:


