//Variables
$primaryColor: #3c045c;
$secondaryColor: #6f3c8c;
$contrastColor: #fba52a;
$contrastSecondaryColor: #ffc470;
$lightColor:#dfcbd0;
$titleFont: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
$textFont: Helvetica, sans-serif;
$imageWidth: 1280px;
$titleColor: $primaryColor;
$borderColor: $secondaryColor;
$prueba: tenedor;


h1{
    text-transform: uppercase;
    color: $titleColor;
    font-family: $titleFont;
}
a {
  color: $contrastColor;
  &:hover {
    color: $contrastSecondaryColor;
  }
}

//Containers
header {
  overflow: hidden;
}
header img {
  margin-left: 50%;
  transform: translateX(-50%);
}
.container{
    font-family: $textFont;
    width: 70%;
}

footer{
  background-color: $primaryColor;
  color: $contrastColor;
  a {
    color: $contrastColor;
    &:hover {
      color: $contrastSecondaryColor;
    }
  }
}
//Images
.header_img{
    width: $imageWidth/6;
}

img{
  width: 100%;
}
.gallery_img{
  width:600px;
}
.logo_img{
  width: 100px;
}

//Loop Top
$cont: 5;
@for $i from 1 through $cont {
    .lanes-#{$i} {
        width: (90% / $i);
        border-bottom: solid 3px $contrastColor/$i;
    }
}

//Concatenacion
.con#{$prueba}{
    border-top: solid 3px $contrastSecondaryColor;
}

//Gallery
div.gallery {
  margin: 5px;
  border-top: 3px solid $secondaryColor;
  float: left;
  width: 180px;
  color: $primaryColor;
  &:hover {
    border-top: 5px solid $contrastColor;
  }
  img {
    width: 100%;
    height: auto;
  }
  .desc {
    padding: 15px;
    text-align: center;
  }
}

 //Gallery loop
 @for $i from 1 through 7{
  .desc-#{$i}{
    border-bottom: solid 2px $primaryColor*$i;
  }
}

//While loop Font Size
$custom-font-size: 12;
@while $custom-font-size <= 24 {
  .font-size-#{$custom-font-size} {
    font-size: #{$custom-font-size}px;
    line-height: #{$custom-font-size + 2}px;
  }
  // Increment the count
  $custom-font-size: $custom-font-size + 2;
}

//Icon loop
$sizes: 40px, 50px, 80px;
@each $size in $sizes {
  .icon-#{$size} {
    font-size: $size;
    height: $size;
    width: $size;
  }
}

//Mixin and includes
//List
@mixin reset-list {
  margin: 0;
  padding: 5;
  list-style: none;
  color: $primaryColor;
}

@mixin horizontal-list {
  @include reset-list;
  li {
    display: inline-block;
    margin: {
      left: -2px;
      right: 2em;
    }
  }
}

nav ul {
  @include horizontal-list;
}

//Icon
@mixin square($size, $radius: 0) {
  width: $size;
  height: $size;

  @if $radius != 0 {
    border-radius: $radius;
  }
}
.icon {
  @include square(100px, $radius: 50px);
}

//Button
@mixin hover {
  &:not([disabled]):hover {
    @content;
  }
}
.button {
  border: 7px solid $primaryColor;
  background-color: $secondaryColor;
  
  @include hover {
    border: 7px solid $secondaryColor;
    background-color: $primaryColor;
  }
}
//Important text 
@mixin important-text {
  color: $secondaryColor;
  font-size: 20px;
  font-weight: bold;
  border-bottom: 3px dotted $contrastColor;
}

.important_text{
  @include important-text();
}

//Functions
@function double($var) {
  @return $var*2;
}
@function half($var) {
  @return $var/2;
}
@function getNewColor($varColor) {
  @return $varColor*2;
}


//Using functions
.box_double{
  width: double(200px);
  color: $lightColor;
  border-top: solid $contrastColor;
  text-align: center;
  padding: 5px;
}
.box_half{
  width: half(500px);
  color: $lightColor;
  border-top: solid $contrastSecondaryColor;
  text-align: center;
  margin: 10px;
  padding: 5px;
}
.data{
  background-color: getNewColor($contrastSecondaryColor);
}


//1 funciones:
//1 mixin: 


@mixin circle {
  width: 10px;
  height: 10px;
  background: $contrastSecondaryColor;
  border-radius: 50%;
}


.circle {
  @include circle;
}