//Variables
$primaryColor: #3c045c;
$secondaryColor: #6f3c8c;
$contrastColor: #fba52a;
$contrastSecondaryColor: #ffc470;
$lightColor:#dfcbd0;
$titleFont: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
$textFont: Helvetica, sans-serif;
$imageWidth: 1280px;
$titleColor: $primaryColor;
$borderColor: $secondaryColor;
$prueba: tenedor;

//Texts
h1{
    text-transform: uppercase;
    color: $titleColor;
    font-family: $titleFont;
}
a {
  color: $contrastColor;
  &:hover {
    color: $contrastSecondaryColor;
  }
}

//Containers
.container{
    font-family: $textFont;
    width: 70%;
}
.container_top{
  font-family: $textFont;
  background-image: url('../images/dados_bg_01.jpg');
  background-repeat: no-repeat;
  background-position: center;
  padding: 10%;
}

//Images
.header_img{
    width: $imageWidth/6;
}

img{
  width: 100%;
}
.gallery_img{
  width:600px;
}
.logo_img{
  width: 100px;
}

//Loop Top
$columns: 5;
@for $i from 1 through $columns {
    .columns-#{$i} {
        width: (90% / $i);
        background-color: $secondaryColor/$i;
        color: white;
    }
}



//Columns loop
$grid-columns: 12;
@for $i from 1 through $grid-columns {
  .grid-#{$i} {
    width: percentage($i / $grid-columns);
  }
}
//Styles column loop test
[class^='grid-'] {
  border: 4px solid $borderColor;
  background-color: $lightColor;
  float: left;
}

//Concatenacion
.con#{$prueba}{
    background-color: blue + red;
}


//While loop
$num: 4;
@while $num > 0 {
  .module-#{$num} {
    background-color: $secondaryColor*$num;
  }
  $num: $num - 1;
}



//Gallery
div.gallery {
  margin: 5px;
  border-top: 3px solid $secondaryColor;
  float: left;
  width: 180px;
  &:hover {
    border-top: 5px solid $contrastColor;
  }
  img {
    width: 100%;
    height: auto;
  }
  .desc {
    padding: 15px;
    text-align: center;
  }
}

 //Gallery loop
 @for $i from 1 through 7{
  .desc-#{$i}{
    background-color: $contrastColor*$i;
  }
}

//6 Variables: hecho
//6 selectores: hecho
//4 Operaciones: hecho
//4 Funciones:
//6 Mixins:
//4 Bucles: 
//2 Includes + otras funciones:
